In [7]:
import pandas as pd
file_path = "/Users/ejbeazleigh/Desktop/Dissertation/DissertationResults/ResearchProjectMagnitudeScores.csv"
data = pd.read_csv(file_path)
print(data)

       MFBALL HAMAG  IFBALL HAMAG  WFBALL HAMAG  RUGBY HAMAG  TENNIS HAMAG
0          4.000000           0.0      1.000000          1.0           2.0
1          2.000000           2.0      1.333333          2.0           2.0
2          0.333333           2.0      2.000000          1.0           0.0
3          1.000000           1.0      3.000000          1.0           0.0
4          2.000000           3.0      1.500000          2.0           2.0
...             ...           ...           ...          ...           ...
44552           NaN           3.0           NaN          NaN           NaN
44553           NaN           0.0           NaN          NaN           NaN
44554           NaN           0.5           NaN          NaN           NaN
44555           NaN           0.5           NaN          NaN           NaN
44556           NaN           1.0           NaN          NaN           NaN

[44557 rows x 5 columns]

In [5]:
headers = data.columns.tolist()
print(headers)

['MFBALL HAMAG', 'IFBALL HAMAG', 'WFBALL HAMAG', 'RUGBY HAMAG', 'TENNIS HAMAG']

In [6]:
import pandas as pd
from scipy.stats import ttest_ind

# Remove rows with NA values
data_cleaned = data.dropna()

# Define the columns for the comparisons
columns_to_compare = [
    ('RUGBY HAMAG', 'TENNIS HAMAG'),
    ('MFBALL HAMAG', 'WFBALL HAMAG'),
    ('MFBALL HAMAG', 'IFBALL HAMAG'),
    ('RUGBY HAMAG', 'MFBALL HAMAG')
]

# Perform the comparisons and calculate p-values
results = []
for col1, col2 in columns_to_compare:
    group1 = data_cleaned[col1]
    group2 = data_cleaned[col2]
    
    t_stat, p_value = ttest_ind(group1, group2)
    results.append((col1, col2, t_stat, p_value))

# Create a DataFrame to display the results
results_df = pd.DataFrame(results, columns=['Group 1', 'Group 2', 'T-Statistic', 'P-Value'])

# Display the results
results_df

        Group 1       Group 2  T-Statistic       P-Value
0   RUGBY HAMAG  TENNIS HAMAG     5.792666  1.073901e-08
1  MFBALL HAMAG  WFBALL HAMAG    -4.540770  6.666022e-06
2  MFBALL HAMAG  IFBALL HAMAG    -4.598475  5.104865e-06
3   RUGBY HAMAG  MFBALL HAMAG     5.739765  1.447611e-08